
<html>
    <head>
    </head>
    <body>
        <form action="/" method="post" enctype="multipart/form-data"> 
            <input type="file" name="filetoupload" />
            <input type="submit" value="Upload" />

        </form>
        <form action="/file"> 
             <input type="text" name="path" />
             <input type="submit" value="Get File" />
        </form>
    </body>
</html>